html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #0F151A;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    margin: 0px;
}