html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0F151A;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }
  
  header {
    width: 100%;
    height: 80px;
    background-color: #111111;
    
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: transparent;
    background-color: #141414;
    padding: 0px 240px 0px 240px;
}
  
  .logo img {
    width: 100px;
    height: auto;
  }

  form {
    position: relative;
    border: 1px solid #6B00BF;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  #searchInput {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
  }

  .search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    
    & svg {
      width: 20px;
      height: 20px;
      fill: #5a6674;
    }
  }
  
  
/*PROFILE SECTION*/


.profile-dropdown {
    position: relative;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

#profile-menu {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    transform: translateX(-50%);
    background-color: black;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #626262;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-menu-content {
    display: flex;
    flex-direction: column;
}

.profile-menu-content a {
    padding: 20px 150px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    width: 100%; /* Расширяем кнопки на всю ширину */
    box-sizing: border-box; /* Учитываем padding и border в ширине */
    white-space: nowrap;
    padding-left: 16px;
}
.btn-signin{
    border-radius: 9px 9px 0px 0px;
}
.btn-signup{
    border-radius: 0px 0px 9px 9px;
}
.profile-menu-content a:not(:last-child) {
    border-bottom: 1px solid #626262;
}

.profile-menu-content a:hover {
    background-color: rgba(244, 244, 244, 0.28);
}


/*PROFILE SECTION CLOSE*/

  

  
/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  color: #fff;
  width: 100%;
}
/* Footer block 1 */
.footer-block1 {
  width: 100%;
  max-width: 1980px;
  /* padding: 50px 75px; */
  box-sizing: border-box;
}
.footer-block1 h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding:0;
}
.footer-block1 .footer__location,
.footer-block1 .mail {
  font-size: 18px;
  color: #767676;
  white-space: nowrap;
}
.mail:hover, .footer__location:hover{
  color: white;
  transition: all 0.2s ease-in-out;
}
/* Contact info styles */
.contact__content {
  max-width: 1980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 75px;
  box-sizing: border-box;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.contact__icon-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact__info h3 {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
}
.contact__info p,
.contact__info a {
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}
.contact__icon-box a {
  color: #767676;
  text-decoration: none;
}
.contact__icons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4rem;
  margin-top: 4rem;
  padding-bottom: 3.5rem;
}

.icon-circle {
background-color: transparent;
border-radius: 50%;
box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
padding: 2rem;
font-size: 3rem;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
width: 1.2rem;
height: 1.2rem;
}

.icon-circle i {
color: #ffffff;
font-size: 2rem;
transform: scale(0.8);
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 3.125rem;
}

.nav__links a {
  margin: 0 1.4rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

/* Footer block 2 */
.footer-block2 {
  border-top: 2px solid #767676;
  width: 100%;
  max-width: 1980px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:7rem;
  background-color: #0f0f0f;
  padding: 35px;
  box-sizing: border-box;
}
.footer-block2 p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}
.social-icons {
  display: inline-flex;
}

.social-icons .spanser {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-icons .spanser:not(:hover) {
  filter: grayscale(100%);
}

.ics {
  margin-right: 10px;
}

.social-icons:hover .spanser {
  filter: grayscale(200%);
  background-color: #d0722e;
}

.social-icons:hover .spanser:hover {
  filter: none;
}