html{
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    margin: 0px;
    background-color: #111111;
}
.container{
    margin:0px 194px;
}
header {
    height: 85px;
    margin-top: 45px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: transparent;
    background-color: transparent;
}
.breadcrumb-append {
    position: relative;
    width: 100%;
    flex: 1;
}
/*logo*/
.logo{
    max-height: 100%;
    max-width: 100%;
    display: block;
}
.lgsa {
  position: sticky;
  z-index: 10000;
  top: 0;
  background-repeat: no-repeat;
  pointer-events: auto; 
}
/*****logo****/

.navbar{
    position: sticky;
    z-index: 9999;
}
nav ul {
    display: flex;
    list-style: none;
}

nav .selector-font {
    margin-left: 70px;
    font-size: 20px;
    letter-spacing: -0.5px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    position: relative;
}
nav a:hover {
    text-decoration: none;
}

nav .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav .selector a {
    color: white;
    text-decoration: none;
    position: relative;
}


nav .language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    margin-left:70px;
    font-size: 15px;
    font-weight: 300;
}
.language-selector a.active {
    border-bottom: 1px solid white;
    margin-right: 15px;
    pointer-events: none;
}



/*SECTION 2*/

.particles-js{
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 0px;
    height: 845px;
    position: relative;
    z-index: 50;
    width: 100%;
}

.container-h {
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -90px;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}
.header-down{
    text-align: center;
    justify-content: center;
    position: absolute;
}
h1{
    margin: 0;
    padding: 0;
}
.black-gradient-h1 {
    position: relative;
    display: inline-block;
    background-image: linear-gradient(0deg, #c3c3c3 0, #c3c3c3 0%, #ffffff 50%);
    font-size: 74px;
    text-align: center;
    letter-spacing: -1.25px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.location{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.location-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.strong-text {
    margin-bottom: 0px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.01em;
}
.main-text{
    color: white;
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
}
.button-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.head-button{   
    z-index: 2;
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    pointer-events: none;
}
.effect-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 120px 120px rgba(255, 255, 255, 0.05);
  z-index: -1;
}
.button-wrap::after {
  content: '';
  display: block;
  height: 100px;
  width: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
/******SECTION 2*****/

/*HAMBURGER-mENU*/
.mobile-menu{
    display: none;
    text-decoration: none;
}

.log-hamburger{
    margin-top: 45px;
    margin-left: 20px;
}
.mobile-menu .menu-hamburger{
    padding-top: 4px;
    padding-bottom: 4px;
    display: none;
    width: 36px;
    position: absolute;
    top: 70px;
    right: 25px;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
    float: right;
}
.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #ffffff;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.menu-hamburger.active {
    background-color: rgba(103, 103, 103, 0.72);
    border: 1px solid rgba(121, 121, 121, 0.72);
}
.cross .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
}
.cross .bar:nth-child(2) {
    opacity: 0;
}
.cross .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: white;
}
/********HAMBURGER-mENU*****/


/*about*/
.about{
    padding: 2rem 0rem 2rem;
    background-color: #111111;
    margin: 6rem 0rem 2rem;
}
.cn-3{
    margin: 40px auto;
    max-width: 65rem;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-side{
    margin-right: 75px;
}
.imgabout {
    border-radius: 1.7rem;
    height: 410px;
    width: 460px;
    padding: 0;
}
.text-side {
    width:460px;
    max-height: 50%;
    word-wrap: break-word;
}
.text-side h3 {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.text-side p {
    color: #767676;
    font-family: Inter,sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
}
/******about*****/
.all-proj-contain{
    display: block;
}
.line-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt-x{
    z-index: 2;
    color: white;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    pointer-events: none;
    margin-bottom: 140px;
}
.txt-x::after {
    content: '';
    display: block;
    height: 100px;
    width: 1px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}


/**********************PROJECTS**********************/

.case-project-section{
    position: relative;
}

.cs-bg-div.rivian-case-study {
    background-image: url("Img/graceprob.svg");
}
.cs-bg-div.space-case-study{
    background-image: url("Img/space.png");
}
.cs-bg-div.eyeglasses-case-study{
    background-image: url("Img/glasses.jpg");
}
.cs-bg-div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.cs-block-txt {
    position: relative;
    top: 60px;
    display: block;
    width: 400px;
    margin-left: 75px;
}
.cs-block-brand-logo {
    margin-bottom: 140px;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.cs-block-title {
    display: flex;
    width: 400px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: Teko,sans-serif;
    color: #fff;
    font-size: 50px;
    line-height: 44px;
    font-weight: 500;
    text-transform: uppercase;
}
.cs-block-description {
    width: 400px;
    color: #fff;
}
.button-3.cs-block.dark-bg {
    border-style: solid;
    background-image: none;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.button-3.cs-block {
    top: 0;
    /* margin-top: 54px; */
    padding: 14px 24px;
    border-style: none;
    background-image: #181818;
    transition: .2s;
    text-transform: uppercase;
}
.button-3 {
    position: relative;
    display: inline-block;
    border: 2px solid #fff;
    background-color: hsla(0,0%,98.8%,0);
    font-family: Teko,sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}
.w-button {
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.button-3.cs-block.dark-bg:hover {
    background-color: #fff;
    color: #000;
}
    /*
    filter: grayscale(1) sepia(0.2)contrast(0.8);   
    */
/* General styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    color: #fff;
    width: 100%;
}
/* Footer block 1 */
.footer-block1 {
    width: 100%;
    max-width: 1980px;
    /* padding: 50px 75px; */
    box-sizing: border-box;
}
.footer-block1 h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding:0;
}
.footer-block1 .footer__location,
.footer-block1 .mail {
    font-size: 18px;
    color: #767676;
    white-space: nowrap;
}
.mail:hover, .footer__location:hover{
    color: white;
    transition: all 0.2s ease-in-out;
}
/* Contact info styles */
.contact__content {
    max-width: 1980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 75px;
    box-sizing: border-box;
}
.contact__info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.contact__icon-box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.contact__info h3 {
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
}
.contact__info p,
.contact__info a {
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}
.contact__icon-box a {
    color: #767676;
    text-decoration: none;
}
.contact__icons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 4rem;
    margin-top: 4rem;
    padding-bottom: 3.5rem;
}

.icon-circle {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  padding: 2rem;
  font-size: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
}

.icon-circle i {
  color: #ffffff;
  font-size: 2rem;
  transform: scale(0.8);
}
.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 3.125rem;
}

.nav__links a {
    margin: 0 1.4rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

/* Footer block 2 */
.footer-block2 {
    border-top: 2px solid #767676;
    width: 100%;
    max-width: 1980px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:7rem;
    background-color: #0f0f0f;
    padding: 35px;
    box-sizing: border-box;
}
.footer-block2 p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
}
.social-icons {
    display: inline-flex;
}

.social-icons .spanser {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-icons .spanser:not(:hover) {
    filter: grayscale(100%);
}

.ics {
    margin-right: 10px;
}

.social-icons:hover .spanser {
    filter: grayscale(200%);
    background-color: #d0722e;
}

.social-icons:hover .spanser:hover {
    filter: none;
}


































